@media only screen and (min-width: 38rem) {

    header,
    nav,
    footer {
        max-width: 1400px;
        margin: 0 auto;
    }

    main {
        max-width: 1000px;
        margin: 0 auto;
    }

    div.theButtons {
        width: 100%;
        /* grid-column: 1 / 4; */
    }

    div.social {
        margin: auto 0;
    }

    #darkBtn {
        position: absolute;
        top: 4rem;
        right: 0.6rem;
        width: 1.6rem;
    }

    header {
        grid-template-columns: 80px auto auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        /* border: solid 1px #eee; */
    }

    .navigation ul {
        display: flex;
    }

    .navigation li {
        flex: 1 1 100%;
        text-align: center;
        border: solid 2px #eee;
        font-size: 1.2rem;
    }

    .navigation a {
        border: none;
    }

    /* ********************** FOOTER ********************* */
    footer {
        flex-direction: row;
        gap: 3rem;
        justify-content: space-evenly;
        font-size: 1.2rem;
    }

    /* ********************** EVENTS AND WEATHER ********************* */
    div.events-weather {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

    /* ********************** SPOTLIGHT ********************* */
    #spotlight {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

    /* ********************** JOIN PAGE ********************* */
    .membership-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .membership-level h2 {
        margin: 0 1rem 1rem 1rem;
    }

    #mlModal {
        width: 50%;
    }

    .thankyou-main {
        /* max-width: 1000px; */
        margin: 0 auto 1rem;
        border-radius: 6px;
        line-height: 1.5;
        font-size: 1.2rem;
    }

}

@media only screen and (min-width: 64.06rem) {

    /************************** DISCOVER PAGE HERE **************************/
    #allplaces {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .join-main {
        max-width: 1200px;
    }
}