/* --------- COLOR SCHEME ---------------
Dark blue: #1d4d72
Dark blue 2: #1A3465
Light green: #a8e9b7
*/

:root {
    --dark-blue: #1d4d72;
    --dark-blue-2: #1A3465;
    --light-green: #a8e9b7;
    --light-blue: #add8e6;
    --light-gray: #ddd;
    --white: #ffffff;
}

/* ********************** SITE WIDE ********************* */
* {
    box-sizing: border-box;
    font-family: "Crimson Pro", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
}

/* ********************** HEADER ********************* */
header {
    display: grid;
    grid-template-columns: 80px auto 44px;
    padding: 7px 0 7px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    background-color: #eee;
}

header img {
    display: block;
    width: 80px;
    height: 80px;
    grid-column: 1 / 2;
    margin: auto;
}

header span {
    font-size: 1.7rem;
    color: var(--dark-blue);
    grid-column: 2 / 3;
    margin: auto 0;
}

/* *********************** Dark mode button ********************* */
#darkBtn {
    position: absolute;
    top: 1.2rem;
    right: 0.5rem;
    width: 1.6rem;
    cursor: pointer;
    background-color: #ffffff;
    grid-column: 3 / 4;
    border: 1px solid #000;
}

.dark-mode {
    background-color: #000;
    color: #ffffff;
    border-color: #eee;
}

.dark-mode .card {
    background-color: #000000;
    color: #ffffff;
    border-color: #444;
}

.dark-mode .grid,
.dark-mode .list {
    background-color: #000000;
    color: var(--dark-blue);
    border-color: #444;
}

.dark-mode .grid div,
.dark-mode .list div,
.dark-mode #spotlight div,
.dark-mode .events-weather section {
    background-color: #000000;
    color: #ffffff;
    border-color: #444;
}

.dark-mode #spotlight div p,
.dark-mode .events-weather p {
    color: #ffffff;
}

.dark-mode #spotlight div h2,
.dark-mode .events-weather section h2 {
    color: #ffffff;
    background-color: #181414;
}

.dark-mode .grid div a,
.dark-mode .list div a,
.dark-mode #spotlight div a {
    color: #f27d80;
}

.dark-mode .grid div img,
.dark-mode #spotlight div img {
    background-color: #ffffff;
}

/* ***************** HAMBURGER MENU ***************** */
.hamburger {
    background: none;
    border: none;
    font-size: 2.3rem;
    color: var(--dark-blue);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

/* ********************** NAVIGATION ********************* */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 0.8rem 10px;
    color: #1A3465;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
    transition: all 0.5s ease-out;
}

.navigation li.current {
    background-color: #a8e9b7;
}

.navigation a:hover {
    background-color: #eee;
    color: #000;
}

/* ******************** MAIN *********************** */
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

main h1 {
    margin-left: 1rem;
    text-align: left;
}

/************************** DIRECTORY PAGE **************************/
div.theButtons {
    width: 100%;
    text-align: center;
}

div.theButtons button.active {
    background-color: #f27d80;
    color: #000000;
}

div.theButtons button {
    margin: 0 1rem;
    padding: .7rem 1rem;
    border-radius: 10px;
    border: 1px solid #666;
    color: var(--dark-blue);
    cursor: pointer;
}

div#members {
    margin: 0 2vw;
}

/*GRID layout here*/
div.grid {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: center;
}

div.grid div {
    text-align: center;
    margin: 1rem 0;
    border: solid 1px #aaa;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    color: var(--dark-blue);
}

div.grid img,
#spotlight img {
    width: 130px;
    height: 60px;
}

div.grid h2 {
    margin: .2rem 0;
}

div.grid p {
    margin: .2rem 0;
}

/*LIST layout here*/
div.list div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
    margin: 1rem;
    padding: 0.3rem;
    border: solid 1px #aaa;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    gap: 1rem;
    color: var(--dark-blue);
}

div.list img:first-child {
    display: none;
}

h1 {
    text-align: center;
    margin: 1rem 0;
}

/* ********************** HOME PAGE ********************* */
/* ********************** EVENTS AND WEATHER ********************* */
.hero img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.hero {
    position: relative;
    overflow: hidden;
}

.hero a {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    background: var(--dark-blue);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: .8rem;
    box-shadow: 0 0 3rem #fff;
    border-radius: 0.5rem;
    color: var(--white);
}

.hero a:hover {
    background-color: var(--light-gray);
    color: var(--dark-blue-2);
}

div.events-weather h2 {
    text-align: center;
    color: var(--dark-blue-2);
    background-color: var(--light-green);
    padding: 0.5rem;
    border-radius: 10px;
}

section.events p,
section.weather-forecast p {
    margin: 1rem;
    text-align: center;
}

section.current-weather p {
    margin: 0.2rem;
    text-align: center;
}

section.events,
section.current-weather,
section.weather-forecast {
    background-color: #eee;
    color: var(--dark-blue);
    margin: 0.5rem;
    border: 1px solid #aaa;
    border-radius: 10px;
}

section.current-weather img {
    display: block;
    margin: 0 auto;
}

/************************** HOME PAGE SPOTLIGHTS **************************/
#spotlight div {
    background-color: #eee;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

#spotlight h2 {
    background-color: var(--light-green);
    margin: 0;
    padding: 0.5rem;
    color: var(--dark-blue-2);
}

#spotlight p {
    margin: 0;
    padding: .5rem;
    color: var(--dark-blue);
}

#spotlight img {
    width: 100px;
    height: 50px;
}

/************************** JOIN PAGE **************************/
.membership-container {
    background-color: #eee;
    padding: 1rem;
    border: 1px solid #aaa;
    border-radius: 6px;
    margin: 1rem 0.5rem;
}

form.designOne {
    margin: 1rem 2%;
}

.membership-container h2{
    color: var(--dark-blue-2);
}

.designOne label {
    display: block;
    font-size: 1rem;
    color: var(--dark-blue-2);
    padding-top: .2rem;
}

.designOne fieldset {
    border: none;
}

.designOne fieldset legend {
    font-size: 1.2rem;
    color: var(--dark-blue-2);
    margin: 0;
    border-bottom: 1px solid #eee;
    font-weight: 700;
}

.designOne fieldset label {
    display: block;
    padding: 8px 2px 0;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
}

/*.designOne fieldset label [type=radio] {
    height: fit-content;
} */

.designOne input[type=text],
.designOne input[type=tel],
.designOne input[type=date],
.designOne input[type=email],
.designOne textarea {
    display: block;
    margin: .1rem 0 1rem 0;
    padding: .3rem;
    border: 1px solid #999;
    border-radius: 4px;
    border-left-width: 5px;
    border-left-color: #777;
    font-size: 1rem;
    color: #3D405B;
    width: 250px;
}

.designOne input:required {
    border-left-color: #d70000;
}

.designOne input:focus, .designOne textarea:focus {
    border-left-color: black;
    outline: none;
}

.designOne input:required:valid {
    border-left-color: green;
}

.designOne input[type=submit] {
    border: 1px solid black;
    text-align: center;
    color: white;
    padding: .75rem 1.5rem;
    margin: 2rem 0;
    font-size: 1.2rem;
    -webkit-appearance: none;
    appearance: none;
    animation: color_change 2s infinite alternate linear;
    cursor: pointer;
    outline: none;
}

@keyframes color_change {
    0% {
        border-radius: 1px 20px;
        background-color: var(--dark-blue);
    }

    100% {
        border-radius: 20px 1px;
        background-color: var(--dark-blue-2);
    }
}

.designOne input:-webkit-autofill {
    -webkit-text-fill-color: #3D405B;
}

#results {
    background-color: var(--light-green);
    color: var(--dark-blue-2);
    padding: 1rem;
    border: 1px solid var(--dark-blue-2);
    border-radius: 6px;
    line-height: 1.5;
    font-size: 1.2rem;
    margin: auto;
}

.thankyou-main {
    margin: 0.5rem;
}

.thankyou-main p {
    color: var(--dark-blue-2);
    font-size: 1.2rem;
}

.thankyou-main>p {
    line-height: 1.5;
    text-align: center;
}


/* JOIN PAGE MODALs */
.membership-level aside {
    border: solid 1px #444;
    border-radius: 5px 20px;
    padding: 10px;
    background-color: #bed9d2;
    text-align: center;
    margin-bottom: 1rem;
    animation-duration: 2s;
    animation-name: slidein;
}

.membership-level aside button {
    background-color: var(--dark-blue-2);
    color: #ffffff;
    padding: 0.3rem;
    border-radius: 0.8rem 0;
    border: none;
    margin: 0.5rem;
    cursor: pointer;
}

.membership-level h2 {
    color: var(--dark-blue-2);
    margin: 1rem 1rem 1rem 0;
}

.membership-level h3 {
    color: var(--dark-blue-2);
}

@keyframes slidein {
    0% {
        opacity: 0%;
        margin-top: 50px;
        background-color: #aebb1a;
    }

    100% {
        opacity: 100%;
        margin-top: 0px;
        background-color: #bed9d2;
    }
}

#mlModal {
    position: fixed;
    border: 2px solid #aaa;
    border-radius: 8px;
    padding: .5rem;
    background-color: #eee;
    box-shadow: 0 0 15px #777;
    width: 90%;
    margin: auto;
    color: var(--dark-blue-2);
    line-height: 1.5;
}

#mlModal div {
    display: grid;
    grid-template-columns: auto 44px;
    border-bottom: dashed 1px #aaa;
}

#mlModal h4 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

#mlModal span {
    font-size: 1rem;
}

::backdrop {
    background-color: rgba(255, 255, 255, 0.5);
}

#mlModal button {
    width: 44px;
    height: 44px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ccc;
    font-size: 1.5rem;
    color: var(--dark-blue-2);
    cursor: pointer;
}

/* ********************** FOOTER ********************* */

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
    border-top: solid 1px #ddd;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer p {
    margin: .5rem 0;
    color: var(--dark-blue);
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 88px;
    border: #bbb solid 1px;
    border-radius: 44px;
}

.social img {
    width: 44px;
    height: 44px;
}

.social a:hover {
    background-color: #ddd;
}